<h2 class="bigtitle">PBC PORTFOLIO</h2>

<!--For each category type , display an round SQUARE ! -->

<div class="category_container">
	
	<a href="/android"><div class="category" id="cat1"></div></a>
	<a href="/web"><div class="category" id="cat2"></div></a>
	<a href="/ruby"><div class="category" id="cat3"></div></a>
	<!--
	<div class="category" id="cat4">4 Other kind of programming</div>
	<div class="category" id="">5</div>
	<div class="category" id="">6</div>
	-->
</div>
<div class="clearer"></div>
<h3>Recommended view-ing resolution 1920x1080 (full hd) </h3>
<h5>Current Time is : <%= @ora_actuala %></h5>
