<h2 class="bigtitle">Android Apps Index</h2>
<div class="container_android">
	<% @apps_android.each do |app| %>		
		<a class="wrapper_android" href="<%= android_path(app)%>"> 
		
			<h1><%= app.title %></h1>
			
			<p><%= app.description.to_s[0..50] + "..." %></p>
			
				<div class="icon_container">
				<% if app.applicationlink2 != "" %>
					<img src="<%= app.applicationlink2 %>" width="100%" height="100%">
					<% else %>
					<img src="assets/android.jpg" width="100%" height="100%">	
					<% end %>
					
				</div>
			
		</a>
	<% end %>
</div>