// Place all the styles related to the apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
	float:left;
	margin-left: 5px;
	margin-top: 5px;
	background-color: yellow;
	width: 500px;
}

